
@{
    ViewData["Title"] = "Insert Page";
   
}

<h1>Insert new Employee Details</h1>
<script>


</script>
<hr/>
<div class="text-center">
   <form method="Post" >
        <fieldset>
          <legend>Add Employee</legend>
          <div>
            <label for="id">ID:</label>
            <input type="text" name="Id" value="" placeholder="Enter Employee ID" required/>
          </div>
          <div>
            <label for="name">Name:</label>
            <input type="text" name="username" value="" placeholder="Enter Employee Name" required/>
          </div>
          
          <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" onclick=""></input>
          </div>
        </fieldset>
      </form>
      @{
         string msg=(String)this.ViewData["Imsg"];

      }
      <p> @msg</p>
</div>
@* <style>
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


</style>

<body style="text-align:center">

<h2>Popup</h2>

<div class="popup" onclick="submit">Click me to toggle the popup!
  <span class="popuptext" id="myPopup">A Simple Popup!</span>
</div>
</body>

</div> *@
