@page
@model SRSModel

@{
    ViewData["Title"]="SRS of Project";

}

<h1>@ViewData["Title"] </h1>
<p> <pre>To recycle and reuse of e-waste contributing to sustainable development. 
         This application will give a platform to the user to deploy the e-waste through us,
         the e-waste then can be identified suitably to be recycled or to be reused in the form 
         of selling though our portal. </pre>
</p>

