@{
    ViewData["Title"] = "Login Page";
}


<h1>Login</h1>
<form method="post">
    UserName : <input type="text" name="username" id="username">
    Password : <input type="text" name="pass" id="pass">
    <button>Login</button>
</form>