@{
    ViewData["Title"] = "Signup Page";
}

<h1>SignUp</h1>

<form method="post">
    EmailId : <input type="email" name="email" id="email">
    UserName : <input type="text" name="username" id="username">
    Password : <input type="text" name="pass" id="pass">
    <button>Sign Up</button>
</form>