@using BOL;
@{
    ViewData["Title"] = "Product Page";
}

<div>
    <h1>Product Page</h1>
    @{
        List<Product> lp = ViewData["products"] as List<Product>;
            foreach(Product p in lp)
            {
                <p>@p.id  @p.name  @p.price</p>
            }
    }
</div>